{% extends "base.html" %}
{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
{% block content %}
<section id="content" class="article content">
  <header>
    <h2 class="entry-title">{{ article.title }}</h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
    

  {% if article.toc %}
		<div id="left">
			<p><strong>Table of Contents</strong></p>
			<div id="toc"></div>
		</div>
		{% endif %}   
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
   
</section>
  <footer class="post-info text-muted">
    <br/><br/>
    Posted: {{ article.locale_date }} <br/>
    Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a><br/>
    Tagged: {% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} </a>{% endfor %}{% endif %}<br/>
    &copy; <a href="{{SITEURL}}">Brandon Bertelsen</a> | <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">RSS</a>
  </footer><!-- /.post-info -->
    {% if DISQUS_SITENAME %}
    <div class="comment">
        <div id="disqus_thread"></div> <!-- comment app container -->
    </div>
	<!-- Comment BEGIN -->
    <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
     <!-- Comment END -->
    {% endif %}
{% endblock %}
