{% extends "base.html" %}
{% block navclass %}active{%endblock%}
{% block content %}
<section id="content" class="content">
{% block content_title %}
{% endblock %}
    
<dl>
    {% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}  
            <h3>Entries in {{ year }}</h3>
            <ul class="archive-list">
            {% for article in date_year %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{article.title}}</a><br/>
                    <span class="text-muted">{{article.locale_date}}</span>
                    {{article.summary}}</li>
            {% endfor %}
     </ul>
    {% endfor %}
</dl>

</section><!-- content -->
{% endblock content %}
