/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

body { 
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
    color: #404040;
    min-height: 100%;
}

p {
    line-height: 24px;
    margin: 0;
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: normal;
}

.archive-list li {
    line-height:24px;
    margin-bottom:5px;
    font-size:16px;
}

.archive-list {
    list-style-type: none;
    padding:0px;
}
strong {
    font-weight: bold;
    
}

h1,h2,h3,h4,h5 { 
margin-top: 0;
font-weight: bold;
font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}

h1 {
    font-size: 28px;
    height:37px;
}

h2 {
    font-size: 24px;
    height: 32px;
}

h3 {
    font-size: 20px;
    height: 26px;
}

h4 {
    font-size:18px;
}

address p a:hover img, 
address p a img
{
    text-decoration:none;
    padding:5px;
}

blockquote p {
    font-size:16px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
    margin-bottom: 60px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 600px; /* was 730px */
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 60px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
