{% extends "base.html" %}
{% block content %}
	{% include "header.html" %}
	<article>
	{% if article.toc %}
		<div id="left">
			<p><strong>Table of Contents</strong></p>
			<div id="toc"></div>
		</div>
		{% endif %}
		<div id="contains">
		<h1 id="title">
			<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
				title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
		</h1>		
		<div id="post">{{ article.content }}</div>
		
		<div id="article_meta">
			{% if not article.category == 'posts' %}
				<p>Category:
					<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
			{% endif %}
			{% if article.tags %}
				<p>Tags:
				{% for tag in article.tags %}
					<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
				{% endfor %}</p>
			{% endif %}
		</div>
	</article>

	<footer>
		<a href="{{ SITEURL }}/" class="button_accent">&larr;&nbsp;&nbsp;&nbsp;Back to notes</a>
	</footer>
	</div>

	{% if DISQUS_SITENAME %}
	<div id="comments">
		<h2>Comments</h2>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_identifier = "{{ article.url }}";
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
	</div>
	{% endif %}

{% endblock %}
