{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
	{% include "header.html" %}
	<article>
		<h1 id="title">
			<a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark">{{ page.title }}</a>
		</h1>
		{{ page.content }}

	</article>

	<footer>
		<a href="{{ SITEURL }}/" class="button_accent">&larr;&nbsp;&nbsp;&nbsp;Back to notes</a>
	</footer>
{% endblock %}
