<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400,300|Inconsolata' rel='stylesheet' type='text/css'>
	<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{ SITEURL }}/theme/js/jquery.toc.min.js"></script>
	<link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
	{% if FEED_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}

	{% if article and article.latex %}
		{{ article.latex }}
	{% endif %}

	{% block head %}
		<title>{% block title %}{{ SITENAME }}{% if article %} - {{ article.title }}{% endif %}{% endblock title %}</title>
		<meta charset="utf-8" />
	{% endblock head %}
</head>
<body>
	<section id="sidebar">
		<figure id="user_logo">
            <a href="{{ SITEURL }}"><div class="logo">&nbsp;</div></a>
		</figure>

		<div class="user_meta">
            <h1 id="user"><a href="{{ SITEURL }}" class="">{{ AUTHOR }}</a></h1>
			<h2>{{ TAGLINE }}</h2>
			<ul>
				{% for title, link in MENUITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
			</ul>
			<ul>
				{% if DISPLAY_PAGES_ON_MENU %}
					{% for p in PAGES %}
						<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
					{% endfor %}
				{% endif %}
			</ul>
			<ul>
				{% for cat, null in categories %}
					<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
					{% endfor %}
			</ul>
			<ul>
			{% for name, link in LINKS %}
			<li>
			<a href="{{ link }}">{{ name }}</a> 
			</li> 
			{% endfor %}
			</ul>
		</div>
		
			
		<footer>
			<address>
			<p style="text-align:center;">
			<a style="border:0; padding:2px" href="http://linkedin.com/in/bbertelsen">
			<img style="opacity:0.5" src="http://bertelsen.ca/static/assets/icons/linkedin.png" alt="Brandon on Linkedin" />
			</a> 

			<a style="border:0; padding:2px" href="http://twitter.com/1beb">
			<img style="opacity:0.5" src="http://bertelsen.ca/static/assets/icons/twitter.png" alt="Brandon on Twitter" />
			</a>
			
			<a style="border:0; padding:2px" href="http://facebook.com/brandon.bertelsen">
			<img style="opacity:0.5" src="http://bertelsen.ca/static/assets/icons/facebook.png" alt="Brandon on Facebook" />
			</a>
			
			<a style="border:0; padding:2px" href="http://plus.google.com/u/0/117173181056717097296?rel=author">
			<img style="opacity:0.5" src="http://bertelsen.ca/static/assets/icons/googleplus.png" alt="Brandon on Google+"/>
			</a>
			<a style="border:0; padding:-3px" href="https://github.com/1beb">
			<img style="opacity:0.5" src="http://bertelsen.ca/static/assets/icons/github.png" alt="Brandon on Google+"/>
			</a>  
			</p>
			Copyright &copy; Brandon Erik Bertelsen
			</address>
		</footer>
	</section>

	<section id="posts">
	{% block content %}
	{% endblock %}
	</section>

	{% include 'analytics.html' %}
</body>
<script>
$('#toc').toc(
	{	
		'selectors':'h2,h3,h4,h5',
		'container':'#post'
	});
</script>
</html>
