{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
	{% include "header.html" %}
	<article>
		<div id="contains">
		<h1 id="title">
			<a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark">{{ page.title }}</a>
		</h1>
		<div id="post">
		{{ page.content }}
		</div>
		</div>
		{% if page.toc %}
		<div id="left">
			<p><strong>Table of Contents</strong></p>
			<div id="toc"></div>
		</div>
		{% endif %}
	</article>
	
	<footer>
		<a href="{{ SITEURL }}/" class="button_accent">&larr;&nbsp;&nbsp;&nbsp;Back to notes</a>
	</footer>
{% endblock %}
